<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #} {% block stylesheets %} {#{{ encore_entry_link_tags('app') }}#} {% endblock %} {% block javascripts %} {#{{ encore_entry_script_tags('app')
    }}#} {% endblock %}
</head>

<body>
    {% block body %}{% endblock %}{# main tamplate (base.html.twig is the main template, we will go deeper or we will explain twig on monday, it have one day , now this is the main idea about twig ) that have the block body empty in each subfile you can extends
    from the main template, and fill the blocks with different values
</body> #}

</html>